.about_main-container-wrapper {
    overflow-y: scroll;
    width: 100%;
    position: fixed;
    margin-top: 80px;
    height: calc(100vh - 80px);
}

.about_main-container {
    display:flex;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    flex-flow: column wrap;
    align-items: center;
    font-size:15px;
    line-height:30px;
    padding: 50px 0 50px 0;
}

.about_africapolis {
    margin-top:100px;
    max-width:70%;
    text-align:center;
    width:800px;
}

.about_africapolis-logos {
    max-width:70%;
    width:800px;
    display:flex;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    flex-direction:row;
    justify-content:center;
    margin-top: 30px;
}

.africapolis_logos{
    flex:1;
    -webkit-box:1;
    -moz-box:1;
    -ms-flexbox:1;
    -webkit-flex:1;
    display:flex;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    justify-content: center;
    align-items: center;
    max-width:50%;
    padding: 0 20px;
}

.about_africapolis span{
    font-family:'Oswald';
    font-size: 28px;
    color: #E8AE40;
}

.about_africapolis-logos-container{
    display:flex;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    width: 50%;
    flex-flow: row wrap;
}

.logo-container {
    margin: 10px;
    padding:10px;
    flex:1;
    -webkit-box:1;
    -moz-box:1;
    -ms-flexbox:1;
    -webkit-flex:1;
    display:flex;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    justify-content: center;
    align-items: center;
    min-width:24%;
    min-height:165px;    
    box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.2),
    0px 2px 2px 0px rgba(0, 0, 0, 0.14),
    0px 3px 1px -2px rgba(0, 0, 0, 0.12);
}


.footer-wrapper{
    z-index:0;
    width:100%;
    bottom:0;
    display:flex;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    justify-content:center;
    min-height:150px;
    background:#efefef;
    font-size: 12px;
}

.footer-container{
    display:flex;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    width: 70%;
    flex-flow: row wrap;
}

.copyright,
.footer-logo{
    display:flex;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    flex:1;
    -webkit-box:1;
    -moz-box:1;
    -ms-flexbox:1;
    -webkit-flex:1;
    padding: 20px;
    flex-flow:column wrap;
    align-items:center;
    justify-content:center;
}

.footer-logo{
    min-width: 120px;
}
.copyright span{
    font-weight: 600;
}

.disclaimer {
    display:flex;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    flex:3;
    -webkit-box:3;
    -moz-box:3;
    -ms-flexbox:3;
    -webkit-flex:3;
    padding: 20px 40px;
    align-items:center;
}